/* Global styling */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none; /* Makes the logo not interactable */
}

.logo-header {
  position: fixed;
  top: 20px; /* adjust as needed */
  left: 20px; /* adjust as needed */
  z-index: 100;
}

.logo {
  width: 50px; /* adjust size */
  height: auto;
  cursor: pointer; /* indicates it's clickable */
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
